.className {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #EC6B5E;
  border-radius: 16px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  margin-left: 6px;
}

.window {
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-top: 8px;
}

.headertext {
  margin: 0px;
  color: #fff;
  font-weight: 500
}

.nasa-window {
  display: none;
  position: absolute;
  top: 20%; left: 50%;
  transform: translateX(-50%);
  width: 320px;
  background: #0a101e;
  border: 1px solid #00f0ff;
  border-radius: 8px;
  padding: 10px;
  color: #e8f8ff;
}

.window-header {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #16365c;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;

}

#lista-misiones {list-style: none; padding: 0; margin-top: 10px;}
#lista-misiones li{

  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px dashed #16365c;
}

.tarea-completada {
  text-decoration: line-through;
  color: #6b8fae;
}